$prim-btn: #00B3FA;
$block-btn: #F6E224;
$ref-details: #008BF6;
$font-color: #2A2A2A;
$footer-bgr: #F5F5F5;
$xxxl: 1920px;
$xxl: 1440px;
$xl: 1200px;
$lg: 1074px;
$lm: 900px;
$md: 768px;
$premd: 700px;
$sm: 576px;
$xs: 320px;