@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.menu {
    &_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 26px;
        padding: 20px;
    }

    &_title {
        text-align: center;
        font: normal normal bold 24px/35px Poppins;
        letter-spacing: 0px;
        white-space: nowrap;

        @include breakpoint (premd) {
            font: normal normal bold 14px/14px Poppins;
        }
    }

    &_imgwrapper {
        max-width: 220px;

        @include breakpoint (premd) {
            max-width: 150px;
        }
    }


    &_img {
        object-fit: cover;
        width: 100%;
    }

    &_link {
        align-self: end;
        cursor: pointer;
        font: normal normal bold 18px/27px Poppins;
        letter-spacing: 0px;
        color: $ref-details;
        border: none;
        background-color: white;

        &:hover {
            text-decoration: underline;
        }
    }

    &_buy {
        padding: 5px 20px;
        border-radius: 10px;
        background-color: $ref-details;
        text-align: center;
        font: normal normal bold 14px/18px Poppins;

        &:hover {
            background-color: $prim-btn;
            transition: 0.3s;
        }
    }

    &_price {
        font: normal normal bold 14px/18px Poppins;
        margin: 10px 0;
    }
}